@import "../../themes/vars.less";

@containerHeight:~"calc(100vh - 72px)";

.home {
  background: #fff;
  width: 100%;
  height: 100vh;
}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 9;
  width: 100%;
  height: 72px;
  background: #fff;
}
.content{
  position: absolute;
  background: #fff;
  // padding: 32px 32px 0 32px;
  top: 72px;
  left: 0;
  right:0;
  bottom: 0;
}
.item{
  .main{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
    margin-bottom: 16px;
  }
  .maintext{
    margin-right: 16px;
    width: 100%;
  }
  .title{
    font-size: 28px;
    font-weight: normal;
    color: #333;
    margin: 0 0 16px 0;
  }
  .summary{
    color: #666;
    font-size: 24px;
  }
  .banner{
    width: 280px;
    height: auto;
  }
  .date {
    color: #666;
  }
  & + .item{
    margin-top: 32px;
    padding-top: 32px;
    .hairline(top, #ddd);
  }
}

.listBody{
  // height:~"calc(100vh - 108px)";
}
.slideContainer{
  .slide{
    // min-height: @containerHeight;
    padding: 32px 32px 0 32px;
    background: #fff;
  }
  :global{
    .react-swipeable-view-container{
      // height:@containerHeight;
      // -webkit-overflow-scrolling: touch;
    }
  }
}
