@import "../../themes/vars.less";

.home {
  background: #fff;
  padding: 32px;
}
.item{
  .main{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
    margin-bottom: 16px;
  }
  .maintext{
    margin-right: 16px;
  }
  .title{
    font-size: 28px;
    font-weight: normal;
    color: #333;
    margin: 0 0 16px 0;
  }
  .summary{
    color: #666;
    font-size: 24px;
  }
  .banner{
    width: 280px;
    height: auto;
  }
  .date {
    color: #666;
  }
  & + .item{
    margin-top: 32px;
    padding-top: 32px;
    .hairline(top, #ddd);
  }
}
